In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,order_id,product,quantity,price,total,full_date,hour,date,month,year,day,address,city,state,pincode,timezone
0,236670,Wired Headphones,2,11.99,23.98,08/31/19,22,31,8,2019,Sat,359 Spruce St,Seattle,WA,98101,PM
1,236671,Bose SoundSport Headphones,1,99.99,99.99,08/15/19,15,15,8,2019,Thu,492 Ridge St,Dallas,TX,75001,PM
2,236672,iPhone,1,700.00,700.00,08/06/19,14,6,8,2019,Tue,149 7th St,Portland,OR,97035,PM
3,236673,AA Batteries (4-pack),2,3.84,7.68,08/29/19,20,29,8,2019,Thu,631 2nd St,Los Angeles,CA,90001,PM
4,236674,AA Batteries (4-pack),2,3.84,7.68,08/15/19,19,15,8,2019,Thu,736 14th St,New York City,NY,10001,PM

### 1) Timezone

In [14]:
df_1 = df[df['timezone'] == 'AM']
df_2 = df[df['timezone'] == 'PM']

df_1.to_csv('Timezone/AM.csv', index = False)
df_2.to_csv('Timezone/PM.csv', index = False)

### 2) State

In [36]:
!mkdir State

for i in df['state'].unique():
    path = 'State/'+i+".csv"
    
    df_ = df[df['state'] == i]
    df_.to_csv(path, index = False)

### 3) City | Adding total Number of Products Sold

In [85]:
data = []

for city in df['city'].unique():
    
    q = 0
    o = 0
    a = 0
    
    
    for i in df.values:
        if (i[12] == city):          # i[12] is City
            o += 1                   # Count the Order
            q += i[2]                # i[2] is Quantity, Count the Quantity
            a += i[4]                # i[4] is Total, Count the total amount

    data.append([city,o,q,int(a)])
    
df_ = pd.DataFrame(data, columns = ['City', 'Orders','Quantity','Amount'])

df_.to_csv('City.csv',index = False)

### 4) City

In [88]:
!mkdir City

for i in df['city'].unique():
    
    path = 'City/' + i + '.csv'
    df_ = df[df['city'] == i]
    df_.to_csv(path, index = False)

### 5) Products

In [120]:
data = []

for i in df['product'].unique():
    
    df_ = df[df['product'] == i]
    

    data.append([i, 
                 df_['price'].mode().values[0], 
                 len(df_), 
                 df_['quantity'].sum(), 
                 df_['quantity'].max(), 
                 int(df_['total'].sum())])
    
df_ = pd.DataFrame(data , columns = ['Name','Price','Orders','Quanitity','Max_quantity_per_user', 'Amount'])

df_.to_csv('Product.csv', index = False)

In [122]:
df_

,Name,Price,Orders,Quanitity,Max_quantity_per_user,Amount
0,Wired Headphones,11.99,18882,20557,4,246478
1,Bose SoundSport Headphones,99.99,13325,13457,3,1345565
2,iPhone,700.00,6842,6849,2,4794300
3,AA Batteries (4-pack),3.84,20577,27635,7,106118
4,34in Ultrawide Monitor,379.99,6181,6199,2,2355558
5,20in Monitor,109.99,4101,4129,2,454148
6,Macbook Pro Laptop,1700.00,4724,4728,2,8037600
7,LG Washing Machine,600.00,666,666,1,399600
8,27in FHD Monitor,149.99,7507,7550,2,1132424
9,Lightning Charging Cable,14.95,21658,23217,4,347094
10,Apple Airpods Headphones,150.00,15549,15661,3,2349150
11,AAA Batteries (4-pack),2.99,20641,31017,9,92740
12,USB-C Charging Cable,11.95,21903,23975,6,286501
13,27in 4K Gaming Monitor,389.99,6230,6244,2,2435097
14,ThinkPad Laptop,999.99,4128,4130,2,4129958
15,Flatscreen TV,300.00,4800,4819,2,1445700
16,Google Phone,600.00,5525,5532,2,3319200
17,Vareebadd Phone,400.00,2065,2068,2,827200
18,LG Dryer,600.00,646,646,1,387600