In [229]:
import numpy as np
import pandas as pd

df = pd.read_csv('Shows.csv')
df.head()

,Unnamed: 0,ID,Name,Year,Rating,Duration,Reviews,Director,Genre,Link
0,0,tt5491994,Planet Earth II,2016,9.5,4h 58m,139,David Attenborough|Chadden Hunter|Elizabeth White,Documentary,https://www.imdb.com/title/tt5491994/
1,1,tt0795176,Planet Earth,2006,9.4,8h 58m,100,David Attenborough|Sigourney Weaver|Nikolay Dr...,Documentary,https://www.imdb.com/title/tt0795176/
2,2,tt0903747,Breaking Bad,2008,9.4,49m,4K,Bryan Cranston|Aaron Paul|Anna Gunn,Crime|Drama|Thriller,https://www.imdb.com/title/tt0903747/
3,3,tt0185906,Band of Brothers,2001,9.4,9h 54m,929,Scott Grimes|Damian Lewis|Ron Livingston,Drama|History|War,https://www.imdb.com/title/tt0185906/
4,4,tt7366338,Chernobyl,2019,9.3,5h 30m,3.3K,Jessie Buckley|Jared Harris|Stellan Skarsg책rd,Drama|History|Thriller,https://www.imdb.com/title/tt7366338/

#### Single Category

1. Finding the Unique Categories
2. Finding the Frequency of Each Category
3. Apply Thresholding at specific number
4. Remove Categories that comes under that threholding
5. Take Final Categories as the Most Important One (Sort in Ascending Order)

#### Pairs of 2
6. Make the pairs with final categories
7. Finding the occurence of these pairs together in the dataset
8. Apply thresholding at specific number
9. Removing Combinations that comes under the thresholding
10. Take the Final Pairs as the Most Important (Sort in Ascending Order)

#### Pairs of 3
11. Finding the Unique Categories in the Final Pairs
12. Making the Pairs of 3 with the remaining categories
13. Finding the occurence of these combinations in the dataset
14. Apply thresholding at specific number
15. Remove Combinaitons that comes under the thresholding
16. Take the Final Pairs as the Most Important (Sort in Ascending Order)

### 1. Removing Unwanted Columns

In [230]:
del df['Unnamed: 0']
del df['ID']
del df['Rating']
del df['Duration']
del df['Reviews']
del df['Link']
del df['Year']

df.head()

,Name,Director,Genre
0,Planet Earth II,David Attenborough|Chadden Hunter|Elizabeth White,Documentary
1,Planet Earth,David Attenborough|Sigourney Weaver|Nikolay Dr...,Documentary
2,Breaking Bad,Bryan Cranston|Aaron Paul|Anna Gunn,Crime|Drama|Thriller
3,Band of Brothers,Scott Grimes|Damian Lewis|Ron Livingston,Drama|History|War
4,Chernobyl,Jessie Buckley|Jared Harris|Stellan Skarsg책rd,Drama|History|Thriller

### 2. Dealing with Null Values

In [231]:
df = df[df['Genre'] != 'Nan']

df.head()

,Name,Director,Genre
0,Planet Earth II,David Attenborough|Chadden Hunter|Elizabeth White,Documentary
1,Planet Earth,David Attenborough|Sigourney Weaver|Nikolay Dr...,Documentary
2,Breaking Bad,Bryan Cranston|Aaron Paul|Anna Gunn,Crime|Drama|Thriller
3,Band of Brothers,Scott Grimes|Damian Lewis|Ron Livingston,Drama|History|War
4,Chernobyl,Jessie Buckley|Jared Harris|Stellan Skarsg책rd,Drama|History|Thriller

### 3. Applying Appriori on Genre
##### 3.1) Finding Unique Genre

In [232]:
genre = []

for i in df['Genre']:
    genre += i.split('|')
    
genre = list(set(genre))                # Removing Duplicates

##### 3.2) Finding the Occurence Percentage

In [233]:
data = []

for gen in genre:                # Going through each Unique Genre
    c = 0                        # For Counting the Movies in specific Genre
    for i in df['Genre']:        # Going through Genre Column
        if (gen in i):           # Checking if Specific genre is there
            c+=1                 # Incrementing the variable of movies with specific genre
            
    data.append([gen,int((c/len(df))*100)])
    
data = pd.DataFrame(data, columns = ['Genre','Percentage'])
data.head()

     Genre  Percentage
0    Music           2
1  Fantasy           2
2    Sport           1
3  History           7
4     News           0

##### 3.3) Analysing the Occurence Percentage

In [234]:
data.sort_values(by = 'Percentage', ascending = False).head(10)

          Genre  Percentage
21        Drama          54
10       Comedy          31
12       Action          24
17        Crime          23
15    Animation          21
18    Adventure          20
23      Mystery          11
19  Documentary           9
3       History           7
9      Thriller           6

##### 3.4) Apply Threshold of 20%

In [235]:
data = data[data['Percentage'] >= 10]

##### 3.5) Finding the Combinations or Pairs

In [236]:
combinations = []

shortlisted_gen = list(data['Genre'])

for i in range(len(shortlisted_gen)):
    for j in range(i,len(shortlisted_gen)):
        if (i != j):
            combinations.append([shortlisted_gen[i],shortlisted_gen[j]])    # All the Possible Combinations
            
combinations

[['Comedy', 'Action'],
 ['Comedy', 'Animation'],
 ['Comedy', 'Crime'],
 ['Comedy', 'Adventure'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Mystery'],
 ['Action', 'Animation'],
 ['Action', 'Crime'],
 ['Action', 'Adventure'],
 ['Action', 'Drama'],
 ['Action', 'Mystery'],
 ['Animation', 'Crime'],
 ['Animation', 'Adventure'],
 ['Animation', 'Drama'],
 ['Animation', 'Mystery'],
 ['Crime', 'Adventure'],
 ['Crime', 'Drama'],
 ['Crime', 'Mystery'],
 ['Adventure', 'Drama'],
 ['Adventure', 'Mystery'],
 ['Drama', 'Mystery']]

##### 3.5) Finding the Series with Specific Combination of Genre

In [237]:
data_combinations = []

for combination in combinations:                                                  # Going through each Combination
    c = 0
    for i in df['Genre']:                                                         # Going through while dataset
        if( (combination[0] in i.split('|')) and (combination[1] in i.split('|')) ):
            c += 1                                                                # Count the Frequencies
    
    data_combinations.append([combination, int((c/len(df))*100)])                 # Adding the data in a list
    

data_combinations = pd.DataFrame(data_combinations , columns = ['Genre','Percentage'])    # Creating the DataFrame
data_combinations = data_combinations.sort_values(by = 'Percentage', ascending = False)   # Sorting the DataFrame

##### 3.6) Apply Threshold of 10%

In [238]:
data_combinations = data_combinations[data_combinations['Percentage'] >= 3]

data_combinations

                     Genre  Percentage
16          [Crime, Drama]          20
6      [Action, Animation]          16
8      [Action, Adventure]          16
12  [Animation, Adventure]          14
4          [Comedy, Drama]          11
20        [Drama, Mystery]           9
17        [Crime, Mystery]           8
9          [Action, Drama]           6
1      [Comedy, Animation]           4
18      [Adventure, Drama]           3
13      [Animation, Drama]           3

##### 3.7) Finding Unique Genre from Combinations of 2

In [251]:
unique = []

for i in data_combinations["Genre"]:
    unique += i
    
unique = list(set(unique))

##### 3.8) Finding Possible Combinations of 3

In [253]:
combinations = []

for i in range(len(unique)):
    for j in range(i,len(unique)):
        for k in range(j,len(unique)):
        
            if (unique[i] != unique[j] != unique[k]):    
                
                combinations.append([unique[i], unique[j] , unique[k]])

##### 3.9) Finding the Fequency of Each Combination in the Dataset

In [272]:
data_combinations = []

for comb in combinations:
    c = 0
    for i in df['Genre']:
        if ((comb[0] in i.split('|')) and (comb[1] in i.split('|')) and (comb[2] in i.split('|'))):
            c += 1
        
    data_combinations.append([comb, (c/len(df))*100])
    
    
data_combinations = pd.DataFrame(data_combinations, columns = ['Combination','Freq'])
data_combinations = data_combinations.sort_values(by = 'Freq', ascending = False)

##### 3.10) Applying Final Threshold of 1

In [277]:
data_combinations = data_combinations[data_combinations['Freq'] >= 1]

##### 3.11) Displaying the Combinations

In [282]:
for i in data_combinations['Combination']:
    print(' ,'.join(i))

Animation ,Adventure ,Action
Mystery ,Crime ,Drama
Adventure ,Drama ,Action
Crime ,Drama ,Action
Animation ,Comedy ,Action
Animation ,Drama ,Comedy

### Process of Apriori

m1 = [g1,g2,g3] 
m2 = [g1,g4]    
m3 = [g1,g4,g5] 
m4 = [g1,g2,g3] 
m5 = [g1,g2]     
m6 = [g1,g2,g4] 
m7 = [g2,g3,g6]
m8 = [g1,g5,g6] 
m9 = [g4,g5,g6] 
m10= [g1,g2,g5] 

------------------
Finding the Freq

g1 = 8/10 = 80%
g2 = 6/10 = 60%
g3 = 3/10 = 30%
g4 = 4/10 = 40%
g5 = 4/10 = 40%
g6 = 3/10 = 30%

--------------
Minimum Support 20%

g1 = 8/10 = 80%
g2 = 6/10 = 60%
g3 = 3/10 = 30%
g4 = 4/10 = 40%
g5 = 4/10 = 40%
g6 = 3/10 = 30%

---------------
Finding Combinations of 2

{g1,g2} = 5/10 = 50%
{g1,g3} = 2/10 = 20%
{g1,g4} = 3/10 = 30%
{g1,g5} = 3/10 = 30%
{g1,g6} = 1/10 = 10%
{g2,g3} = 3/10 = 30%
{g2,g4} = 1/10 = 10%
{g2,g5} = 1/10 = 10%
{g2,g6} = 1/10 = 10%
{g3,g4} = 0/10 = 0%
{g3,g5} = 0/10 = 0%
{g3,g6} = 1/10 = 10%
{g4,g5} = 1/10 = 10%
{g4,g6} = 1/10 = 10%
{g5,g6} = 2/10 = 20%

---------------
Threshold Confidence 5% 

{g1,g2}{g1,g3}{g1,g4}{g1,g5}{g1,g6}
{g2,g3}{g2,g4}{g2,g5}{g2,g6}
{g3,6}
{g4,g5}{g4,g6}
{g5,g6}

---------------
Finding Combinations of 3 (g1,g2,g3,g4,g5,g6)

{g1,g2,g3} = 
{g1,g2,g4} = 
{g1,g2,g5} = 
{g1,g2,g6} = 
{g1,g3,g4} = 
{g1,g3,g5} = 
{g1,g3,g6} = 
{g1,g4,g5} = 
{g1,g4,g6} = 
{g1,g5,g6} = 
 
{g2,g3,g4} = 
{g2,g3,g5} = 
{g2,g3,g6} = 
{g2,g4,g5} = 
{g2,g4,g6} = 
{g2,g5,g6} = 

{g3,g4,g5} = 
{g3,g4,g6} = 
{g3,g5,g6} = 

{g4,g5,g6} = 

----------------
Final Thresholding